.has-gutter .is-leaf {
  border-top: 1px solid #e5e5e5;
}
.el-table td {
  border-bottom: 1px solid #e5e5e5;
}
.el-table {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  margin-top: 20px;
}
.has-gutter tr {
  background-color: #fff;
  height: 60px;
  color: #333333;
}
.el-table__row {
  color: #333333;
  height: 80px;
}
.el-checkbox__inner {
  width: 22px;
  height: 21px;
}
.el-checkbox__inner::after {
  height: 12px;
  left: 7px;
  width: 5px;
}
.el-checkbox__label {
  font-size: 15px;
  color: #333333;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #333333;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner:before {
  top: 8px;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner,
.el-checkbox__input.is-checked .el-checkbox__inner {
  background: #009966;
  border-color: #009966;
}
.el-checkbox__inner:hover,
.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #009966;
}
.el-table .descending .sort-caret.descending {
  border-top-color: #009966;
}
.el-table .ascending .sort-caret.ascending {
  border-bottom-color: #009966;
}
.el-date-editor .el-range__close-icon {
  position: absolute;
  right: 5px;
}
.el-date-editor .el-range-separator {
  width: 0;
}
.el-date-editor .el-range__close-icon.el-icon-circle-close {
  background-color: #c0c4cc;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  transform: scale(0.8);
  color: #909399;
}
.el-date-editor .el-range__close-icon.el-icon-circle-close:hover {
  color: white;
}
.el-date-editor .el-range__close-icon.el-icon-circle-close::before {
  content: "\E6DB";
}
.commit-btn {
  background: #009966;
  width: 100px;
  height: 36px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  border-color: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
}
.el-button--primary:focus,
.el-button--primary:hover,
.el-button--primary {
  background: #009966;
  border-color: #009966;
}
.member-radio {
  display: flex;
  align-items: center;
  padding-top: 13px;
}
.member-radio span {
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #333333;
}
.member-radio .icon-radio {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #666666;
  padding: 0 8px;
}
.member-radio .icon-radio img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
  box-sizing: content-box;
  cursor: pointer;
}
